# This is homework 3 of Machine Learning
### Classification of Time Series
#### William Lu
#### 7424831487
#### WilliamLu1999

In [1]:
### set up and download
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import glob
import os

##### 1 (a) (b) Process of Data
Choosing the test and train data

Need to skip the first 4 rows as they are empty and interruptive

In [2]:
bending1_path=['../data/Arem/bending1/dataset1.csv','../data/Arem/bending1/dataset2.csv','../data/Arem/bending1/dataset3.csv',
               '../data/Arem/bending1/dataset4.csv','../data/Arem/bending1/dataset5.csv','../data/Arem/bending1/dataset6.csv',
               '../data/Arem/bending1/dataset7.csv']
bending1_df=[]

In [3]:
for file in bending1_path:
    bending1_df.append(pd.read_csv(file,skiprows=4))
final_bending1 = pd.concat(bending1_df, ignore_index=True)

In [4]:
final_bending1['label']='bending1'

In [5]:
bending2_path = ['../data/Arem/bending2/dataset1.csv','../data/Arem/bending2/dataset2.csv','../data/Arem/bending2/dataset3.csv','../data/Arem/bending2/dataset5.csv','../data/Arem/bending2/dataset6.csv']

In [6]:
bending2_df=[]
for file in bending2_path:
    bending2_df.append(pd.read_csv(file,skiprows=4))
# add dataset 4 separately since it is corrupted
bending2_df.append(pd.read_csv('../data/Arem/bending2/dataset4.csv',sep=' ',names=['# Columns: time',
                                                                'avg_rss12',
                                                                 'var_rss12','avg_rss13',
                                                                 'var_rss13','avg_rss23',
                                                                 'var_rss23'],skiprows=5,index_col=False))
## !!! we need to concat again because dataset 4 in bending2 folder has bad separator ' '.
## we need to concatenate them at the end of bending2_df

In [7]:
final_bending2 = pd.concat(bending2_df, ignore_index=True)

In [8]:
final_bending2['label']='bending2'

In [9]:
# remove the last comma in dataset9 and 14 of cycling by hands already
cycling_path=['../data/Arem/cycling/dataset1.csv','../data/Arem/cycling/dataset2.csv','../data/Arem/cycling/dataset3.csv',
             '../data/Arem/cycling/dataset4.csv','../data/Arem/cycling/dataset5.csv','../data/Arem/cycling/dataset6.csv',
             '../data/Arem/cycling/dataset7.csv','../data/Arem/cycling/dataset8.csv','../data/Arem/cycling/dataset9.csv',
             '../data/Arem/cycling/dataset10.csv','../data/Arem/cycling/dataset11.csv','../data/Arem/cycling/dataset12.csv',
             '../data/Arem/cycling/dataset13.csv','../data/Arem/cycling/dataset14.csv','../data/Arem/cycling/dataset14.csv']

In [10]:
cycling_df=[]
for file in cycling_path:
    cycling_df.append(pd.read_csv(file,skiprows=4))
final_cycling = pd.concat(cycling_df, ignore_index=True)

In [11]:
final_cycling['label']='cycling'

In [12]:
lying_path=['../data/Arem/lying/dataset1.csv','../data/Arem/lying/dataset2.csv','../data/Arem/lying/dataset3.csv',
             '../data/Arem/lying/dataset4.csv','../data/Arem/lying/dataset5.csv','../data/Arem/lying/dataset6.csv',
             '../data/Arem/lying/dataset7.csv','../data/Arem/lying/dataset8.csv','../data/Arem/lying/dataset9.csv',
             '../data/Arem/lying/dataset10.csv','../data/Arem/lying/dataset11.csv','../data/Arem/lying/dataset12.csv',
             '../data/Arem/lying/dataset13.csv','../data/Arem/lying/dataset14.csv','../data/Arem/lying/dataset15.csv']

In [13]:
lying_df=[]
for file in lying_path:
    lying_df.append(pd.read_csv(file,skiprows=4))
final_lying = pd.concat(lying_df, ignore_index=True)

In [14]:
final_lying['label']='lying'

In [15]:
sitting_path=['../data/Arem/sitting/dataset1.csv','../data/Arem/sitting/dataset2.csv','../data/Arem/sitting/dataset3.csv',
             '../data/Arem/sitting/dataset4.csv','../data/Arem/sitting/dataset5.csv','../data/Arem/sitting/dataset6.csv',
             '../data/Arem/sitting/dataset7.csv','../data/Arem/sitting/dataset8.csv','../data/Arem/sitting/dataset9.csv',
             '../data/Arem/sitting/dataset10.csv','../data/Arem/sitting/dataset11.csv','../data/Arem/sitting/dataset12.csv',
             '../data/Arem/sitting/dataset13.csv','../data/Arem/sitting/dataset14.csv','../data/Arem/sitting/dataset15.csv']

In [16]:
sitting_df=[]
for file in sitting_path:
    sitting_df.append(pd.read_csv(file,skiprows=4))
final_sitting = pd.concat(sitting_df, ignore_index=True)

In [17]:
final_sitting['label']='sitting'
# final_sitting has 1 missing row.
# final_sitting.loc[final_sitting.avg_rss12==None]

In [18]:
standing_path=['../data/Arem/standing/dataset1.csv','../data/Arem/standing/dataset2.csv','../data/Arem/standing/dataset3.csv',
             '../data/Arem/standing/dataset4.csv','../data/Arem/standing/dataset5.csv','../data/Arem/standing/dataset6.csv',
             '../data/Arem/standing/dataset7.csv','../data/Arem/standing/dataset8.csv','../data/Arem/standing/dataset9.csv',
             '../data/Arem/standing/dataset10.csv','../data/Arem/standing/dataset11.csv','../data/Arem/standing/dataset12.csv',
             '../data/Arem/standing/dataset13.csv','../data/Arem/standing/dataset14.csv','../data/Arem/standing/dataset15.csv']

In [19]:
standing_df=[]
for file in standing_path:
    standing_df.append(pd.read_csv(file,skiprows=4))
final_standing = pd.concat(standing_df, ignore_index=True)

In [20]:
final_standing['label']='standing'

In [21]:
walking_path=['../data/Arem/walking/dataset1.csv','../data/Arem/walking/dataset2.csv','../data/Arem/walking/dataset3.csv',
             '../data/Arem/walking/dataset4.csv','../data/Arem/walking/dataset5.csv','../data/Arem/walking/dataset6.csv',
             '../data/Arem/walking/dataset7.csv','../data/Arem/walking/dataset8.csv','../data/Arem/walking/dataset9.csv',
             '../data/Arem/walking/dataset10.csv','../data/Arem/walking/dataset11.csv','../data/Arem/walking/dataset12.csv',
             '../data/Arem/walking/dataset13.csv','../data/Arem/walking/dataset14.csv','../data/Arem/walking/dataset15.csv']

In [22]:
walking_df=[]
for file in walking_path:
    walking_df.append(pd.read_csv(file,skiprows=4))
final_walking = pd.concat(walking_df, ignore_index=True)

In [23]:
final_walking['label']='walking'

In [24]:
# combine training data from all dataframes
# since each dataset contain 480 rows, so we need to select 960 rows for bending1 and bending2 as training data
bending1_test = final_bending1.iloc[0:960,::] 
bending2_test = final_bending2.iloc[0:960,::]
# first three datasets of the remaining folders will be test data, so 1440 rows
cycling_test = final_cycling.iloc[0:1440,::]
lying_test = final_lying.iloc[0:1440,::]
sitting_test = final_sitting.iloc[0:1440,::]
standing_test = final_standing.iloc[0:1440,::]
walking_test = final_walking.iloc[0:1440,::]
test_data = pd.concat([bending1_test,bending2_test,cycling_test,lying_test,sitting_test,standing_test,walking_test],axis=0,ignore_index=True)
test_data

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,39.25,0.43,22.75,0.43,33.75,1.30,bending1
1,250,39.25,0.43,23.00,0.00,33.00,0.00,bending1
2,500,39.25,0.43,23.25,0.43,33.00,0.00,bending1
3,750,39.50,0.50,23.00,0.71,33.00,0.00,bending1
4,1000,39.50,0.50,24.00,0.00,33.00,0.00,bending1
...,...,...,...,...,...,...,...,...
9115,118750,36.00,2.45,17.00,5.10,20.50,0.87,walking
9116,119000,34.33,1.89,15.00,2.45,17.00,2.12,walking
9117,119250,33.00,7.35,14.60,3.14,13.00,5.70,walking
9118,119500,31.67,1.25,11.00,6.16,19.25,2.17,walking
9119,119750,30.75,10.21,11.75,1.09,18.50,3.20,walking

In [25]:
# now we get the training data from the remaining rows of each dataset
bending1_train = final_bending1.iloc[960::,::] 
bending2_train = final_bending2.iloc[960::,::]
cycling_train = final_cycling.iloc[1440::,::]
lying_train = final_lying.iloc[1440::,::]
sitting_train = final_sitting.iloc[1440::,::]
standing_train = final_standing.iloc[1440::,::]
walking_train = final_walking.iloc[1440::,::]

In [26]:
train_data = pd.concat([bending1_train,bending2_train,cycling_train,lying_train,sitting_train,standing_train,walking_train],axis=0,ignore_index=True)
train_data

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,42.00,0.71,21.25,0.43,30.00,0.00,bending1
1,250,41.50,0.50,20.25,1.48,31.25,1.09,bending1
2,500,41.50,0.50,14.25,1.92,33.00,0.00,bending1
3,750,40.75,0.83,15.75,0.43,33.00,0.00,bending1
4,1000,40.00,0.71,20.00,2.74,32.75,0.43,bending1
...,...,...,...,...,...,...,...,...
33114,118750,34.50,6.18,9.00,3.56,12.67,4.19,walking
33115,119000,25.75,6.02,13.75,2.05,16.00,1.58,walking
33116,119250,31.50,3.35,10.25,5.12,16.25,2.95,walking
33117,119500,33.75,2.77,14.00,3.24,13.75,0.43,walking
33118,119750,37.00,1.41,18.25,3.70,11.00,4.32,walking

##### 1 (c) i.  What types of time-domain features are usually used in time series classification?

Minimum, maximum, mean, median, standard deviation, first quartile, third quartile, stationarity, entropy.

##### 1(c) ii Extract time domain features for each of the dataset

We have 88 datasets. For each dataset, each column needs to be calculated for min, max, mean, median, standard deviation, first quartile, and third quartile. And there are 6 columns need to be done for this for each dataset.

In [27]:
bending1_table=[]
bending1_f = []
for file in bending1_path:
    bending1_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    bending1_table.append(bending1_items[1::][::]) # getting rid of count
for f in bending1_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    bending1_f.append(f)

In [28]:
arr=[]
for f in bending1_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr.append(f)
sum_df = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr)

In [29]:
bending2_table=[]
bending2_f = []
for file in bending2_path:
    bending2_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    bending2_table.append(bending2_items[1::][::]) # getting rid of count
# we need to append the dataset 4 of the bending2 folder...
bending2_d4 =pd.read_csv('../data/Arem/bending2/dataset4.csv',sep=' ',names=['# Columns: time',
                                                                'avg_rss12',
                                                                 'var_rss12','avg_rss13',
                                                                 'var_rss13','avg_rss23',
                                                                 'var_rss23'],skiprows=5,index_col=False).iloc[::,1:7].describe()
bending2_table.append(bending2_d4[1::][::])
for f in bending2_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    bending2_f.append(f)

In [30]:
arr_b2=[]
for f in bending2_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_b2.append(f)
#arr_b2=pd.DataFrame(data=arr_b2)
#sum_df=pd.concat([sum_df, arr_b2], ignore_index=True,axis=0)
sum_df2 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_b2)

In [31]:
cycling_table=[]
cycling_f = []
for file in cycling_path:
    cycling_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    cycling_table.append(cycling_items[1::][::]) # getting rid of count
for f in cycling_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    cycling_f.append(f)

In [32]:
arr_cycling=[]
for f in cycling_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_cycling.append(f)
sum_df3 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_cycling)

In [33]:
lying_table=[]
lying_f = []
for file in lying_path:
    lying_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    lying_table.append(lying_items[1::][::]) # getting rid of count
for f in lying_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    lying_f.append(f)

In [34]:
arr_lying=[]
for f in lying_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_lying.append(f)
sum_df4 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_lying)

In [35]:
sitting_table=[]
sitting_f = []
for file in sitting_path:
    sitting_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    sitting_table.append(sitting_items[1::][::]) # getting rid of count
for f in sitting_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    sitting_f.append(f)
arr_sitting=[]
for f in sitting_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_sitting.append(f)
sum_df5 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_sitting)

In [36]:
standing_table=[]
standing_f = []
for file in standing_path:
    standing_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    standing_table.append(standing_items[1::][::]) # getting rid of count
for f in standing_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    standing_f.append(f)
arr_standing=[]
for f in standing_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_standing.append(f)
sum_df6 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_standing)

In [37]:
walking_table=[]
walking_f = []
for file in walking_path:
    walking_items =pd.read_csv(file,skiprows=4).iloc[::,1:7].describe()
    walking_table.append(walking_items[1::][::]) # getting rid of count
for f in walking_table:
    f = f.reindex(['min','max','mean','50%','std','25%','75%'])
    f = f.rename({'50%':'median','25%':'first quartile','75%':'third quartile','std':'standard deviation'})
    walking_f.append(f)
arr_walking=[]
for f in walking_f:
    f= list(f.to_numpy().T.flatten()) # f is the describe table of each dataset
    arr_walking.append(f)
sum_df7 = pd.DataFrame(columns=['min_1', 'max_1','mean_1','median_1','standard deviation_1','1st quart_1','3rd quart_1',
                              'min_2', 'max_2','mean_2','median_2','standard deviation_2','1st quart_2','3rd quart_2',
                              'min_3', 'max_3','mean_3','median_3','standard deviation_3','1st quart_3','3rd quart_3',
                              'min_4', 'max_4','mean_4','median_4','standard deviation_4','1st quart_4','3rd quart_4',
                              'min_5', 'max_5','mean_5','median_5','standard deviation_5','1st quart_5','3rd quart_5',
                              'min_6', 'max_6','mean_6','median_6','standard deviation_6','1st quart_6','3rd quart_6'], data=arr_walking)

In [38]:
df_df = pd.concat([sum_df,sum_df2,sum_df3,sum_df4,sum_df5,sum_df6,sum_df7],ignore_index=True)
df_df.insert(loc=0,column='Instance',value = 1+np.arange(len(df_df))) # make it right
df_df

,Instance,min_1,max_1,mean_1,median_1,standard deviation_1,1st quart_1,3rd quart_1,min_2,max_2,...,standard deviation_5,1st quart_5,3rd quart_5,min_6,max_6,mean_6,median_6,standard deviation_6,1st quart_6,3rd quart_6
0,1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.0000,0.0,1.30,...,2.188449,33.0000,36.00,0.00,1.92,0.570583,0.43,0.582915,0.0000,1.3000
1,2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.6700,0.0,1.22,...,1.995255,32.0000,34.50,0.00,3.11,0.571083,0.43,0.601010,0.0000,1.3000
2,3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.0000,0.0,1.70,...,1.999604,35.3625,36.50,0.00,1.79,0.493292,0.43,0.513506,0.0000,0.9400
3,4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.0000,0.0,3.00,...,3.849448,30.4575,36.33,0.00,2.18,0.613521,0.50,0.524317,0.0000,1.0000
4,5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.7500,0.0,2.83,...,2.411026,28.4575,31.25,0.00,1.79,0.383292,0.43,0.389164,0.0000,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,19.50,45.33,33.586875,34.25,4.650935,30.25,37.0000,0.0,14.67,...,3.283983,13.7300,18.25,0.00,8.32,3.259729,3.11,1.640243,2.0500,4.3225
84,85,19.75,45.50,34.322750,35.25,4.752477,31.00,38.0000,0.0,13.47,...,3.119856,13.5000,17.75,0.00,9.67,3.432562,3.20,1.732727,2.1575,4.5650
85,86,19.50,46.00,34.546229,35.25,4.842294,31.25,37.8125,0.0,12.47,...,2.823124,14.0000,17.75,0.00,10.00,3.338125,3.08,1.656742,2.1600,4.3350
86,87,23.50,46.25,34.873229,35.25,4.531720,31.75,38.2500,0.0,14.82,...,3.131076,13.7500,18.00,0.00,9.51,3.424646,3.27,1.690960,2.1700,4.5000
87,88,19.25,44.00,34.473188,35.00,4.796705,31.25,38.0000,0.0,13.86,...,3.156320,13.7300,17.75,0.43,9.00,3.340458,3.09,1.699114,2.1200,4.3750

##### 1 (c) iii standard deviation and confidence interval

In [39]:
# standard deviation of all time-domain features
std_df = df_df.std()
std_df

Instance                25.547342
min_1                    9.575765
max_1                    4.399124
mean_1                   5.340140
median_1                 5.437561
standard deviation_1     1.773264
1st quart_1              6.159497
3rd quart_1              5.142148
min_2                    0.000000
max_2                    5.070032
mean_2                   1.577051
median_2                 1.413781
standard deviation_2     0.889548
1st quart_2              0.945886
3rd quart_2              2.130063
min_3                    2.974717
max_3                    4.894919
mean_3                   4.025789
median_3                 4.049974
standard deviation_3     0.947750
1st quart_3              4.231631
3rd quart_3              4.189527
min_4                    0.000000
max_4                    2.203062
mean_4                   1.169386
median_4                 1.149559
standard deviation_4     0.461591
1st quart_4              0.845434
3rd quart_4              1.557458
min_5                    6.127339
max_5                    5.747005
mean_5                   5.668792
median_5                 5.804823
standard deviation_5     1.022547
1st quart_5              6.083860
3rd quart_5              5.527275
min_6                    0.045838
max_6                    2.549891
mean_6                   1.164478
median_6                 1.095190
standard deviation_6     0.519732
1st quart_6              0.767959
3rd quart_6              1.534989
dtype: float64

In [40]:
from scipy.stats import bootstrap

In [41]:
df_df.columns[1::]

Index(['min_1', 'max_1', 'mean_1', 'median_1', 'standard deviation_1',
       '1st quart_1', '3rd quart_1', 'min_2', 'max_2', 'mean_2', 'median_2',
       'standard deviation_2', '1st quart_2', '3rd quart_2', 'min_3', 'max_3',
       'mean_3', 'median_3', 'standard deviation_3', '1st quart_3',
       '3rd quart_3', 'min_4', 'max_4', 'mean_4', 'median_4',
       'standard deviation_4', '1st quart_4', '3rd quart_4', 'min_5', 'max_5',
       'mean_5', 'median_5', 'standard deviation_5', '1st quart_5',
       '3rd quart_5', 'min_6', 'max_6', 'mean_6', 'median_6',
       'standard deviation_6', '1st quart_6', '3rd quart_6'],
      dtype='object')

In [42]:
# reference
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html
data_min1 = np.array(df_df['min_1'])
data_min1=(data_min1,) # must need to convert the array to be a sequence first
rng = np.random.default_rng() # for random state
for col in df_df.columns[1::]:
    res = bootstrap(data_min1, np.std, confidence_level=0.9,random_state=rng,method='basic')
    print(res.confidence_interval,'for the standard deviation of feature',col)

ConfidenceInterval(low=8.338966676052632, high=10.821378525935975) for the standard deviation of feature min_1
ConfidenceInterval(low=8.340367892592944, high=10.788283441290842) for the standard deviation of feature max_1
ConfidenceInterval(low=8.326979203761919, high=10.826438690841279) for the standard deviation of feature mean_1
ConfidenceInterval(low=8.314737674426832, high=10.825940086652434) for the standard deviation of feature median_1
ConfidenceInterval(low=8.31467871773819, high=10.838965108055413) for the standard deviation of feature standard deviation_1
ConfidenceInterval(low=8.31170858164292, high=10.813401607134024) for the standard deviation of feature 1st quart_1
ConfidenceInterval(low=8.32404097806381, high=10.820703269146772) for the standard deviation of feature 3rd quart_1
ConfidenceInterval(low=8.336051330629722, high=10.8090555602265) for the standard deviation of feature min_2
ConfidenceInterval(low=8.330383962187634, high=10.818333854851126) for the standard deviation of feature max_2
ConfidenceInterval(low=8.318599207932998, high=10.831387023584803) for the standard deviation of feature mean_2
ConfidenceInterval(low=8.33164454381819, high=10.836064525725721) for the standard deviation of feature median_2
ConfidenceInterval(low=8.325719355971957, high=10.814743966578545) for the standard deviation of feature standard deviation_2
ConfidenceInterval(low=8.305157901710473, high=10.836196582113393) for the standard deviation of feature 1st quart_2
ConfidenceInterval(low=8.303793381609283, high=10.818687761032924) for the standard deviation of feature 3rd quart_2
ConfidenceInterval(low=8.318189017828416, high=10.804488695917362) for the standard deviation of feature min_3
ConfidenceInterval(low=8.352262127696918, high=10.787305451530138) for the standard deviation of feature max_3
ConfidenceInterval(low=8.337889259959596, high=10.808288440265015) for the standard deviation of feature mean_3
ConfidenceInterval(low=8.330919374729778, high=10.808771120127217) for the standard deviation of feature median_3
ConfidenceInterval(low=8.338973354122409, high=10.846401330209655) for the standard deviation of feature standard deviation_3
ConfidenceInterval(low=8.34167152211612, high=10.810805955064138) for the standard deviation of feature 1st quart_3
ConfidenceInterval(low=8.285103931640787, high=10.817285642332907) for the standard deviation of feature 3rd quart_3
ConfidenceInterval(low=8.327740170315192, high=10.811486648971103) for the standard deviation of feature min_4
ConfidenceInterval(low=8.318230501642262, high=10.84425939896799) for the standard deviation of feature max_4
ConfidenceInterval(low=8.365024943725585, high=10.837903737322277) for the standard deviation of feature mean_4
ConfidenceInterval(low=8.31426491631324, high=10.84571066837173) for the standard deviation of feature median_4
ConfidenceInterval(low=8.32652193943987, high=10.810675918013388) for the standard deviation of feature standard deviation_4
ConfidenceInterval(low=8.317814948521782, high=10.80401461674664) for the standard deviation of feature 1st quart_4
ConfidenceInterval(low=8.335160040752857, high=10.809714350610877) for the standard deviation of feature 3rd quart_4
ConfidenceInterval(low=8.353035596168477, high=10.824452235930227) for the standard deviation of feature min_5
ConfidenceInterval(low=8.312617637187731, high=10.826745011156731) for the standard deviation of feature max_5
ConfidenceInterval(low=8.322850714150231, high=10.842870622506359) for the standard deviation of feature mean_5
ConfidenceInterval(low=8.307480246891158, high=10.838174471237433) for the standard deviation of feature median_5
ConfidenceInterval(low=8.337271682117084, high=10.823480921724082) for the standard deviation of feature standard deviation_5
ConfidenceInterval(low=8.335288408504137, high=10.817454282146727) for the standard deviation of feature 1st quart_5
ConfidenceInterval(low=8.330068555906854, high=10.820744383953278) for the standard deviation of feature 3rd quart_5
ConfidenceInterval(low=8.351008004412403, high=10.84101147976156) for the standard deviation of feature min_6
ConfidenceInterval(low=8.308342331749714, high=10.814152924968617) for the standard deviation of feature max_6
ConfidenceInterval(low=8.302636642969022, high=10.808520233137118) for the standard deviation of feature mean_6
ConfidenceInterval(low=8.312545015633269, high=10.807550542654493) for the standard deviation of feature median_6
ConfidenceInterval(low=8.336990837820066, high=10.816434286231681) for the standard deviation of feature standard deviation_6
ConfidenceInterval(low=8.331299765047891, high=10.82192051410171) for the standard deviation of feature 1st quart_6
ConfidenceInterval(low=8.315704578807116, high=10.822552935894578) for the standard deviation of feature 3rd quart_6

##### 1 (c) iv The most 'important' three time-domain features

Mean, median, and standard deviation. 

With the first two features, we can kinda know what the distribution is like. Is it skewed? etc. With standard deviation, we can know how far it is for every sample to the mean. This will give us a better idea how disperse the data are. Therefore, with these three features, we can imagine the distribution in our head beforehand, which will help us understand the problem better.

##### 2. Question from the Book ISLR 3.7.4

##### (a)

I think the RSS for the linear regression will be higher than that of cubic regression. The reason being that the cubic regression could result in a overfitting problem on the training dataset albeit the true relationship being linear. The cubic regression model is more flexible, so lower training RSS for the cubic regression.

##### (b)

Under the testing dataset, RSS will be lower for the linear regression model as the original relationship is linear. Cubic regression will not fit as good as linear regression here, so cubic regression will have a higher RSS on the testing dataset.

##### (c)

Still in this case, RSS on the training dataset will be smaller for the cubic regression. Since the model is more flexible, the points from training dataset will fit better, compared to the linear regression.

##### (d)

We do not have enough information in this case as we don't know how far the relationship is from linear. We don't know how far the relationship is from cubic regression neither. There is a bias and variance trade off here. The testing RSS will be lower for the model that is closer to the original or true relationship between the predictor and the quantitative response.